.input-wrapper {
    width: 100%;
}

.input {
    width: 100%;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: #bdbdbd;
    font-size: 16px;
    line-height: 22px;
    padding: 6px 12px;
    color: #141414;
    border: 2px solid #b565ff00;
    transition: 0.5s;
}

.input::placeholder {
    color: #14141481;
    transition: 0.5s;
}

.input:focus {
    border: 2px solid #b565ff;
    background-color: #f6f6f67e;
}
.input-error {
    border: 2px solid #FA8072;
    background-color: #f6f6f67e;
    animation: vibrate 0.3s linear;
}
.input-success {
    border: 2px solid #90EE90;
    background-color: #f6f6f67e;
    font-weight: 400;
}

@keyframes vibrate {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translate(-2px, 2px);
    }

    40% {
        transform: translate(-2px, -2px);
    }

    60% {
        transform: translate(2px, 2px);
    }

    80% {
        transform: translate(2px, -2px);
    }

    100% {
        transform: translate(0);
    }
}

@media (hover: hover) {
    .input:hover {
        border: 2px solid #b565ff;
        background-color: #f6f6f67e;
        /* color: #f6f6f6; */
    }
/* 
    .input:hover::placeholder {
        color: #f6f6f6;
    } */
}