.popup-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2014497e;
  background: linear-gradient(191deg, #07040f7e 0%, #331c477e 100%);
  padding: 2%;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}