.popup-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000bf;
  padding: 2%;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}