.banner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  width: 100%;
  background-color: #8b68ff5a;
  bottom: 0;
  left: 0;
  height: auto;
}

.banner-content {
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-family: "Poppins", sans-serif;
  white-space: nowrap; 
}

.banner-link {
  text-decoration: none;
  padding: 0.25em 0.5em;
  display: block;
  color: white;
  --clr-accent: var(--clr-pink-light);
}

.social-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.instagram-post {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
  flex-direction: row;
  gap: 50px;
  margin-bottom: 20px;
}

.linkedin-post {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
  flex-direction: column;
}