.footer {
  height: 100px;
  display: flex;
  align-items: center;
}

.social-icon-row-pair {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}

.banner-link {
  text-decoration: none;
  padding: 0.25em 0.5em;
  display: block;
  color: white;
  --clr-accent: var(--clr-pink-light);
}

.icon {
  width: 20px;
  height: 20px;
}

.social-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;
}

.footer-content {
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-family: "Poppins", sans-serif;
  white-space: nowrap;
}
